.middle-right-section {
    display: inline-block;
    width: 67%;
    flex-direction: column;
    border: 3px solid black;
    height: 100vh;
    position: absolute;
    right: 0px;
    top: 100px;

}