 .middle-left-section {
    width: 33%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    font-size: 0.95rem;
    height: 100vh;
    overflow-y: scroll;
    position:fixed;
    top: 100px;
    left: 0px;
    display: inline-flex;
}

.content {
    padding: 0px 22px;
    margin: 0%;
    overflow: hidden;
    list-style-type: none;
}


.accordion-summary {
    height: 2px;
}
.MuiAccordionSummary-root {
    min-height: 38px !important;
    height: 45px !important;
    margin: 20px;
}
.MuiAccordionSummary-root:hover{
    background-color: #dbdbdb;
}
.MuiAccordionSummary-root.Mui-expanded {
    background-color: #dbdbdb;
    min-height: 40px !important;
}
.MuiAccordionSummary-content.Mui-expanded {
    margin: 8px 0 !important;
}
.MuiAccordionSummary-content {
    margin: 5px 0px !important;
}


.links {
    text-decoration: none;
    color: #333;
}
.links:hover{
    cursor: pointer;
    text-decoration: underline;
}