#root > div > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1){
    width: 60% !important;
    height: 45% !important;
    margin: 20px auto !important;
}
/* #root > div > div > div.d-flex.flex-column > div:nth-child(1) > div > div:nth-child(1) > div {
    width: 100% !important;
    height: 100% !important;
    margin: 0;
} */