#root > div > main > div.MuiContainer-root.MuiContainer-maxWidthLg.css-16dwyet-MuiContainer-root > div > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-md-5.MuiGrid-grid-lg-7.css-1c4lf0o-MuiGrid-root > div > div:nth-child(1) {
    width: 38% !important;
    height: 40% !important;
    position: fixed !important;
}